html {
  font-size: 10px;
}
html .container {
  min-width: 360px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 400px) {
  html .container {
    margin-top: 7.5%;
    margin-bottom: 7.5%;
  }
}
@media screen and (min-width: 550px) {
  html .container {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}
body {
  font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
}
h1 {
  font-size: 2.75rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2.05rem;
}
h4 {
  font-size: 1.7rem;
}
h5 {
  font-size: 1.35rem;
}
h6 {
  font-size: 1rem;
}
@media screen and (min-width: 400px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.4rem;
  }
  h6 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 550px) {
  h1 {
    font-size: 3.6666666667rem;
  }
  h2 {
    font-size: 3.1333333333rem;
  }
  h3 {
    font-size: 2.6rem;
  }
  h4 {
    font-size: 2.0666666667rem;
  }
  h5 {
    font-size: 1.5333333333rem;
  }
  h6 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 750px) {
  h1 {
    font-size: 4.3333333333rem;
  }
  h2 {
    font-size: 3.6666666667rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2.3333333333rem;
  }
  h5 {
    font-size: 1.6666666667rem;
  }
  h6 {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.4rem;
  }
  h4 {
    font-size: 2.6rem;
  }
  h5 {
    font-size: 1.8rem;
  }
  h6 {
    font-size: 1rem;
  }
}
:last-child {
  margin-bottom: 0;
}
a:hover {
  text-decoration: none;
}
.no-wrap {
  white-space: nowrap;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
code {
  color: black;
}
footer {
  color: white;
}
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  -webkit-align-items: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
section,
section button,
section a,
section a:hover {
  color: white;
}
section .preview-image > img {
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.25);
}
.section-overview {
  text-align: center;
}
.section-overview h1,
.section-overview .preview-image {
  margin-bottom: 5rem;
}
.section-overview {
  background-color: #6441a5 !important;
}
.section-about {
  text-align: center;
}
.section-about .preview-image {
  width: 100%;
  margin: 2rem 0 4rem;
}
.section-about {
  background-color: #4869a5 !important;
}
.source-link {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10px;
  padding-right: 10px;
}
